<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="component"
              label="COM_WINABOR_COMPONENT_LABEL"
              description="COM_WINABOR_COMPONENT_DESC"
            >

        <field
                name="import_folder"
                type="text"
                filter="string"
                label="COM_WINABOR_IMPORTFOLDER_LABEL"
                default="/tmp"
                />
        <field
                name="import_file"
                type="text"
                filter="string"
                label="COM_WINABOR_IMPORTFILE_LABEL"
                default="Artikeldaten.xml"
                />

    </fieldset>

    <fieldset name="permissions"
              description="JCONFIG_PERMISSIONS_DESC"
              label="JCONFIG_PERMISSIONS_LABEL"
            >

        <field name="rules" type="rules"
               component="com_winabor"
               filter="rules"
               validate="rules"
               label="JCONFIG_PERMISSIONS_LABEL"
               section="component" />
    </fieldset>
</config>
